@font-face {
  font-family: 'EB Garamond Italic';
  src: url('/EBGaramond-Italic-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'EB Garamond';
  src: url('/EBGaramond-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'Source Sans 3';
  src: url('/SourceSans3-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  background: turquoise url('/wikipedia.gif') no-repeat center fixed;
  background-size: contain;
  font-size: 1.2em;
  height: calc(100vh + 100px);
}

a, a:visited {
  text-decoration: none;
  color: blue
}

main {
  margin: 0 auto;
  width: 90vw;
}

.title, .author {
  display: block
}

.sources {
  display: block;
  color: teal;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1.25em;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif
}

.author {
  margin-left: 1em
}

input, button {
  display: block;
  padding: 1rem;
  line-height: 1em;
  width: 100%;
  margin: 1vh auto;
  color: #111;
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(rgba(255, 255, 255, 0.8), #fff);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: none;
  font-size: 1.5em;
  text-align: center;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'EB Garamond Italic', Georgia, 'Times New Roman', Times, serif
}

input {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif
}

button:first-letter, .sources:first-letter {
  font-size: 1.5em;
}

.instructions {
  display: block;
  font-family: 'Source Sans 3', Arial, Helvetica, sans-serif
}

button {
  margin: 0 auto;
  background: linear-gradient(to bottom, #7f7f7f, #e0e0e0);
  color: black;
  font-weight: 500;
  width: 100%;
  text-transform: uppercase;
  border: 2px solid black
}

.spinner {
  background: turquoise url('/wikipedia-spinner.gif') no-repeat center fixed;
  background-size: contain;
  height: calc(100vh + 100px);
}

form {
  margin-bottom: 7em;
}

div.couplet {
  color: #111;
  white-space: pre-wrap;
  margin: 0 auto;
  font-family: 'Source Sans 3';
  position: absolute;
  padding: 1rem;
  width: 90vw;
  background: linear-gradient(rgba(255, 255, 255, 0.5), #fff);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  font-size: 1em;
}

@media screen and (min-width: 768px) {
  input, button {
    font-size: 1.65em;
    width: 50vw
  }

  html {
    height: 100vh
  }

  div.couplet {
    font-size: 1.2em;
    width: 50vw
  }

  .spinner {
    background: turquoise url('/wikipedia-spinner.gif') no-repeat center fixed;
    background-size: 50%;
    height: 100vh
  }

  input, button {
    padding: 1em
  }

  main {
    width: 50vw;
    padding-bottom: 0
  }

  body {
    background-size: 50%;
  }

  p.instructions {
    font-size: 1.25em;
    position: absolute;
    left: 0;
    top: 0;
    width: 25%;
    padding: 1rem;
  }
}
